In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv

In [2]:
import pandas as pd

train = pd.read_csv('/kaggle/input/titanic/train.csv')
test = pd.read_csv('/kaggle/input/titanic/test.csv')

In [3]:
# Check for missing values in training and test datasets
print(train.isnull().sum())
print(test.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
# Only string values that don't really bring much value
train = train.drop(['Ticket', 'Cabin'], axis=1)
test = test.drop(['Ticket', 'Cabin'], axis=1)

There are too many Titles, we can sort them based off of important and normal

In [6]:
import re
def extract_title(name):
    match = re.search(r',\s*(\w+)\.', name)
    if match:
        return match.group(1)
    return ""

# Extract titles from Name column
train['Title'] = train['Name'].apply(extract_title)
test['Title'] = test['Name'].apply(extract_title)

In [7]:
train['Title'].value_counts()

Title
Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Mlle          2
Major         2
Col           2
              1
Capt          1
Ms            1
Sir           1
Lady          1
Mme           1
Don           1
Jonkheer      1
Name: count, dtype: int64

In [8]:
high_titles = ['Lady', 'Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona']
low_titles = ['Mr', 'Mrs', 'Miss', 'Master', 'Mlle', 'Mme', 'Ms', '']

In [9]:
def map_title_to_category(title):
    if title in high_titles:
        return 0
    elif title in low_titles:
        return 1
    return 1

train['Title'] = train['Title'].map(map_title_to_category)
test['Title'] = test['Title'].map(map_title_to_category)

# Drop the original Name column now that we have their titles 
# which can be of more use
train = train.drop(columns=['Name', 'PassengerId'])
test = test.drop(columns=['Name'])

In [10]:
train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked  Title
0         0       3    male  22.0      1      0   7.2500        S      1
1         1       1  female  38.0      1      0  71.2833        C      1
2         1       3  female  26.0      0      0   7.9250        S      1
3         1       1  female  35.0      1      0  53.1000        S      1
4         0       3    male  35.0      0      0   8.0500        S      1

In [11]:
# Assign number value to Male and Female
train['Sex'] = train['Sex'].map( {'female': 1, 'male': 0} ).astype(int)
test['Sex'] = test['Sex'].map( {'female': 1, 'male': 0} ).astype(int)

In [12]:
train.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked  Title
0         0       3    0  22.0      1      0   7.2500        S      1
1         1       1    1  38.0      1      0  71.2833        C      1
2         1       3    1  26.0      0      0   7.9250        S      1
3         1       1    1  35.0      1      0  53.1000        S      1
4         0       3    0  35.0      0      0   8.0500        S      1

Fill NaN's for columns that have some by calculating median/ mode for each

In [13]:
median_age = train['Age'].median()
print(median_age)
train['Age'] = train['Age'].fillna(median_age)
test['Age'] = test['Age'].fillna(median_age)

mode_embarked = train['Embarked'].mode()[0]
print(mode_embarked)
train['Embarked'] = train['Embarked'].fillna(mode_embarked)
test['Embarked'] = test['Embarked'].fillna(mode_embarked)

28.0
S

In [14]:
print(train.isnull().sum())
print(test.isnull().sum())

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
Title       0
dtype: int64
PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           1
Embarked       0
Title          0
dtype: int64

Calculate family size by adding SibSp and Parch

In [15]:
train['FamilySize'] = train['SibSp'] + train['Parch'] + 1
test['FamilySize'] = test['SibSp'] + test['Parch'] + 1

In [16]:
train = train.drop(columns=['SibSp', 'Parch'])
test = test.drop(columns=['SibSp', 'Parch'])

Divide Fare into 4 price levels and base it off of that

In [17]:
mean_fare = train['Fare'].mean()
train['Fare'] = train['Fare'].fillna(mean_fare)
test['Fare'] = test['Fare'].fillna(mean_fare)

In [18]:
bins = pd.qcut(train['Fare'], q=4, labels=False, retbins=True)[1]
train['Price'] = pd.cut(train['Fare'], bins=bins, labels=[1, 2, 3, 4], include_lowest=True)
test['Price'] = pd.cut(test['Fare'], bins=bins, labels=[1, 2, 3, 4], include_lowest=True)

train = train.drop(columns=['Fare'])
test = test.drop(columns=['Fare'])

assign each Embarked category to a number

In [19]:
train['Embarked'] = train['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)
test['Embarked'] = test['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)

Try 1: oOmparing results of Logistic Regression, RFC, BRFC, and Perceptron

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, roc_auc_score, f1_score, recall_score

In [21]:
X_train = train.drop("Survived", axis=1)
Y_train = train["Survived"]
X_test  = test.drop("PassengerId", axis=1).copy()

In [22]:
classifiers = {
    "Logistic Regression": LogisticRegression(max_iter=1000, random_state=42),
    "Random Forest": RandomForestClassifier(random_state=42),
    "Balanced Random Forest": BalancedRandomForestClassifier(random_state=42),
    "Perceptron": Perceptron(max_iter=1000, random_state=42)
}

In [23]:
logreg = LogisticRegression()
logreg.fit(X_train, Y_train)
Y_pred = logreg.predict(X_test)
acc_log = round(logreg.score(X_train, Y_train) * 100, 2)
acc_log

/opt/conda/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

80.25

In [24]:
random_forest = BalancedRandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_train, Y_train)
acc_random_forest = round(random_forest.score(X_train, Y_train) * 100, 2)
acc_random_forest

/opt/conda/lib/python3.10/site-packages/imblearn/ensemble/_forest.py:577: FutureWarning: The default of `sampling_strategy` will change from `'auto'` to `'all'` in version 0.13. This change will follow the implementation proposed in the original paper. Set to `'all'` to silence this warning and adopt the future behaviour.
  warn(
/opt/conda/lib/python3.10/site-packages/imblearn/ensemble/_forest.py:589: FutureWarning: The default of `replacement` will change from `False` to `True` in version 0.13. This change will follow the implementation proposed in the original paper. Set to `True` to silence this warning and adopt the future behaviour.
  warn(
/opt/conda/lib/python3.10/site-packages/imblearn/ensemble/_forest.py:601: FutureWarning: The default of `bootstrap` will change from `True` to `False` in version 0.13. This change will follow the implementation proposed in the original paper. Set to `False` to silence this warning and adopt the future behaviour.
  warn(

92.48

In [25]:
# submission = pd.DataFrame({
#         "PassengerId": test["PassengerId"],
#         "Survived": Y_pred
#     })
# submission.to_csv('submission_balanced.csv', index=False)

Training a classifier

In [26]:
y = train['Survived']
X = train.drop(["Survived", "Sex"], axis=1)

In [27]:
train.head(3)

   Survived  Pclass  Sex   Age  Embarked  Title  FamilySize Price
0         0       3    0  22.0         0      1           2     1
1         1       1    1  38.0         1      1           2     4
2         1       3    1  26.0         0      1           1     2

In [28]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [29]:
numerical_cols = ['Pclass', 'Age', 'Embarked', 'Title', 'FamilySize', 'Price']

numerical_transformer = SimpleImputer(strategy='median')

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols)
    ])

titanic_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', RandomForestClassifier(random_state=0, n_estimators=500, max_depth=5))
])

titanic_pipeline.fit(X, y)

# Cross-validation
print('Cross validation score: {:.3f}'.format(cross_val_score(titanic_pipeline, X, y, cv=10).mean()))

Cross validation score: 0.722

In [30]:
X_test = test.drop("Sex", axis=1)
X_test.head()

   PassengerId  Pclass   Age  Embarked  Title  FamilySize Price
0          892       3  34.5         2      1           1     1
1          893       3  47.0         0      1           2     1
2          894       2  62.0         2      1           1     2
3          895       3  27.0         0      1           1     2
4          896       3  22.0         0      1           3     2

In [31]:
predictions = titanic_pipeline.predict(X_test)

In [32]:
output = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived': predictions})
output.to_csv('my_submission.csv', index=False)